.logo > a{
    display: flex;
    align-items: center;
}

.logo{
    border: 0.1px solid #ffffe332;
    padding: 10px 20px;
    border-radius: 100px;
    transition: border-color 0.3s ease-in-out;
}

