
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 67px);
  color: #FFFFE3;
  border-bottom: 1px solid  #ffffe332;
  overflow:hidden;
  /* cursor: none; */
}

.main > p{
  height: 30px;
  text-align: center;
  width: 40%;
  font-weight: 600;
  margin: 15px 0px 0px 0px;
}
 
.main > p > span{
  font-weight: 500;
}

.conatiner{
  display: flex;
  justify-content: center;
}

.logoText1 , .logoText2, .logoText3 {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: none;
}

.logoText2 > div > a > svg , .logoText1 > div > a > svg{
  /* margin-right: 5px; */
  background-color: transparent;
  color: #55E100;
  filter: drop-shadow(0px 0px 10px rgba(123, 255, 0, 0.5));
}

.logoText1 > div > a , .logoText2 > div > a{
  height: 50px;
  padding: 0px 10px;
  border: 1px solid #ffffe332;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: none;
}


.main p , .logoText1 > a , .logoText2 > p, .logoText3 > p {
  font-size: 20px;
  font-weight: 200;
}

.logoText1 > h1 , .logoText2 > h1 , .logoText3 > h1 , .logoText3 span{
  font-size: 6rem;
  line-height: 90px;
  font-weight: 550;
  letter-spacing: -3px;
}


@media screen and (max-width: 750px){
  .logoText1 > h1 , .logoText2  >h1 , .logoText3 > span , .logoText3 > h1 {
    font-size: clamp(3rem, 5vw, 6rem);    /* color: green; */
    height: 60px;
    display: flex;
    align-items: center;
  }
  .main > p , .logoText3 > p{
    font-size: 15px;
    text-align: center;
  }

}

